.pagination-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  button {
    height: 40px;
    min-width: 50px;
    background-color: #f4f9ff;
    
    border: 1px solid #4e8efb;
    margin: 0 -1px;
    
    color: #4e8efb;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    
    &:hover:not(.active) {
      background-color: #d5e8ff;
      border: 1px solid #358cf7;
    }
    
    &.active {
      color: #3361ae;
      background-color: #d5e8ff;
    }
    
    &.disabled {
      color: #757575;
      background-color: #e8e8e8;
      border: 1px solid #a3a8b1;
    }
    
    &:hover:not(.active).disabled {
      color: #757575;
      background-color: #e8e8e8;
      border: 1px solid #a3a8b1;
    }
    
    &:nth-last-child(2):not(.active).disabled  {
      border-left: 1px solid #4e8efb;
    }
    
    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    
    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    @media screen and (max-width: 1200px) {
      &:nth-child(2) {
        display: none;
      }
      
      &:nth-last-child(2) {
        display: none;
      }
    }

    @media screen and (max-width: 992px) {
      &:hover:not(.active) {
        background-color: #f4f9ff;
        border: 1px solid #4e8efb;
      }
    }
  }
}