@import './styles/toast.css';

body {
  height: 100%;
  background-color: #f4f6fa;

  font-size: 16px;
}

.App {
  max-width: 950px;
  padding: 25px;
  margin: 50px 20vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
  border-radius: 20px;
  border: 1px solid #4e8efb;
  background-color: white;
}

form {
  display: flex;
}

.form-save input {
  height: 40px;
  box-sizing: border-box;
  /* padding: 0; */
  margin: 0 10px; 
  font-size: 16px;
  transition: 0.1s;

  border: 1px solid #4e8efb;
  border-radius: 5px;
  background-color: #f4f9ff;
}

.form-save [type="button"]:focus {
  animation-duration: 0.3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    background-color:#75a4dcb5;
  }

  to {
    background-color: #f4f9ff;
  }
}

.form-save input:hover {
  transition: 0.2s;
  background-color: #d5e8ff;
}


.notes-container {
  width: 100%;
  min-height: 510px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.notes-list {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  background-color: #f4f9ff;
  border: 1px solid #4e8efb;
}

.notes-list li {
  list-style-type: none;
}

.notes-list .noteItem:last-child {
  border: none;
}

.noteItem {
  display: flex;
  align-items: center;
  gap: 20px;

  transition: 0.2s;
  padding: 10px;
  border-bottom: 1px solid #4e8efb;
}

.noteItem [type="checkbox"] {
  width: 20px;
  height: 20px;
}

.noteItem:hover:first-child {
  transition: 0.2s;
  border-radius: 10px 10px 0  0;
}

.noteItem:hover {
  transition: 0.2s;
  background-color: #d5e8ff;
}

.noteItem:hover:last-child {
  transition: 0.2s;
  border-radius: 0 0 10px 10px;
}

.pagination-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pagination-container button {
  height: 40px;
  min-width: 50px;
  background-color: #f4f9ff;

  border: 1px solid #4e8efb;
  margin: 0 -1px;

  color: #4e8efb;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.pagination-container button:hover:not(.active) {
  z-index: 2;
  background-color: #d5e8ff;
  border: 1px solid #358cf7;
}

.pagination-container button.active {
  color: #3361ae;
  background-color: #d5e8ff;
}

.pagination-container button:first-child {
  border-radius: 5px 0 0 5px;
}

.pagination-container button:last-child {
  border-radius: 0 5px 5px 0;
}

@media screen and (max-width: 1200px) {
  .App {
    margin: 50px 15vw;
  }

  .pagination-container button:nth-child(2) {
    display: none;
  }

  .pagination-container button:nth-last-child(2) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .App {
    margin: 30px;
  }
}