@import './styles/Toast.scss';
@import './styles/Pagination.scss';
@import './styles/utils/CSearch.scss';
@import './styles/utils/CButton.scss';

body {
  height: 100%;
  background-color: #f4f6fa;

  font-size: 16px;
}

.App {
  max-width: 950px;
  padding: 25px;
  margin: 50px 20vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  border-radius: 20px;
  border: 1px solid #4e8efb;
  background-color: white;
}

h1 {
  margin: 10px 0;
}

.form-container {
  display: flex;
  width: 100%;
}

.form-save {
  width: 100%;
  margin: 10px 10%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.form-save input {
  height: 40px;
  min-width: 40px;
  box-sizing: border-box;
  margin: 0 10px 0 0;
  font-size: 16px;
  transition: 0.1s;

  border: 1px solid #4e8efb;
  border-radius: 5px;
  background-color: #f4f9ff;
}

.form-save [type="button"]:focus {
  animation-duration: 0.3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    background-color:#75a4dcb5;
  }

  to {
    background-color: #f4f9ff;
  }
}

.form-save input:hover {
  transition: 0.2s;
  background-color: #d5e8ff;
}


.notes-container {
  width: 100%;
  min-height: 510px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.notes-list {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  background-color: #f4f9ff;
  border: 1px solid #4e8efb;
}

.notes-list li {
  width: auto;
  list-style-type: none;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.notes-list .note-container:last-child {
  border: none;
}

.note-container {
  transition: 0.2s;
  padding: 10px;
  border-bottom: 1px solid #4e8efb;
}

.note-container [type="checkbox"] {
  width: 20px;
  height: 20px;
}

.note-container:hover:first-child {
  transition: 0.2s;
  border-radius: 10px 10px 0  0;
}

.note-container:hover {
  transition: 0.2s;
  background-color: #d5e8ff;
}

.note-container:hover:last-child {
  transition: 0.2s;
  border-radius: 0 0 10px 10px;
}

.note-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.note-desc {
  display: flex;
  justify-content: space-between;
}

.note-tags {
  display: flex;
  gap: 10px;
}

.note-tags__tag {
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
}

.note-tags__tag:hover {
  text-decoration: none;
}

.span-secondary {
  font-size: 14px;
  color: #757575;
}

@media screen and (max-width: 1200px) {
  .App {
    margin: 50px 15vw;
  }

  .form-save {
    margin: 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .App {
    margin: 20px;
    padding: 20px;
  }

  .form-container {
    justify-content: center;
  }

  .form-text-block {
    width: 100%;
    display: flex;
    align-items: center;
  }

  form, .form-save {
    width: 100%;
    max-width: 500px;
    align-items: center;
    flex-direction: column;
  }

  .button-primary {
    margin-right: 0;
  }

  .form-save input {
    gap: 0;
    padding: 0 10px;
    width: 100%;
    margin: 5px 0;
  }
}