body {
  height: 100%;
  background-color: #f4f6fa;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
  padding: 25px;
  margin: 50px 20vw;
  border-radius: 20px;
  border: 1px solid #4e8efb;
  background-color: white;
}

.notes-list {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  background-color: #f4f9ff;
  border: 1px solid #4e8efb;
}

.notes-list li {
  list-style-type: none;
}

.notes-list .noteItem:last-child {
  border: none;
}

.noteItem {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 10px;
  border-bottom: 1px solid #4e8efb;
}

.noteItem [type="checkbox"] {
  width: 20px;
  height: 20px;
}

.noteItem:hover:first-child {
  border-radius: 10px 10px 0  0;
}

.noteItem:hover {
  background-color: #d5e8ff;
}

.noteItem:hover:last-child {
  border-radius: 0 0 10px 10px;
}

.pagination-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pagination-container button {
  height: 40px;
  min-width: 50px;
  background-color: #f4f9ff;

  border: 1px solid #4e8efb;
  margin: 0 -1px;

  color: #4e8efb;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.pagination-container button:hover:not(.active) {
  z-index: 2;
  border: 1px solid #94c5ff;
}

.pagination-container button.active {
  background-color: #d5e8ff;
}

.pagination-container button:first-child {
  border-radius: 5px 0 0 5px;
}

.pagination-container button:last-child {
  border-radius: 0 5px 5px 0;
}

@media screen and (max-width: 1200px) {
  .App {
    margin: 50px 15vw;
  }

  .pagination-container button:nth-child(2) {
    display: none;
  }

  .pagination-container button:nth-last-child(2) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .App {
    margin: 30px;
  }
}